#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_HOSTNAME "TODO-HOSTNAME"

#define WIFI_SSID "TODO_WLAN_SSID"
#define WIFI_KEY  "TODO_WLAN_KEY"

#define MZTX_MQTT_IP "T.O.D.O"
#define MZTX_MQTT_PORT 1883

#define MZTX_DEVICE_ID "1"

#endif
